main div.info-snippet {
  display: flex;
}

main div.info-snippet:hover {
  cursor: pointer;
}

main div.info-poster > img,
main div.info-poster > p {
  min-height: 25vh;
  max-height: 40vh;
}

main div.title-year {
  display: flex;
  align-items: center;
}
